@use "../utilities" as *;

.header {
    display: grid;
    max-width: 144rem;
    margin: 0 auto;
}

.header-nav {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        img {
            border-radius: 50%;
            background-color: transparent;
        }
    }

    &__links {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        a {
            color: #fff;
            border: 0.3rem solid $light-green;
            padding: 0.4rem 2rem;
            border-radius: 1rem;
            font-weight: bold;
            font-size: 2rem;
        }
    }
}
