@use "../utilities" as *;

.header {
    background-color: #0c0808;
    height: 10rem;
    display: grid;
    place-content: center;
}

.header-nav {
    height: 7rem;
    width: 140rem;
    display: flex;
    justify-content: space-between;

    &__logo {
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
            color: #fff;
            border: 0.3rem solid $light-green;
            padding: 0.4rem 2rem;
            border-radius: 1rem;
            font-weight: bold;
            font-size: 2rem;
        }
    }
}
