@forward "./header/header.scss";
@forward "./header/header-mobile.scss";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: auto;
    background-color: #0c0808;
    display: grid;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
